<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<display-name>Home</display-name>
  	<description></description>
  	<servlet-class>com.servlets.Home</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddClass</servlet-name>
  	<display-name>AddClass</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AddClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSub</servlet-name>
  	<display-name>AddSub</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AddSub</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeach</servlet-name>
  	<display-name>AddTeach</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AddTeach</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStu</servlet-name>
  	<display-name>AddStu</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AddStu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignStudentToClass</servlet-name>
  	<display-name>AssignStudentToClass</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AssignStudentToClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignTeacherToClass</servlet-name>
  	<display-name>AssignTeacherToClass</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AssignTeacherToClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignSubjectToClass</servlet-name>
  	<display-name>AssignSubjectToClass</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AssignSubjectToClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignTeacherToSubject</servlet-name>
  	<display-name>AssignTeacherToSubject</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AssignTeacherToSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddClass</servlet-name>
  	<url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSub</servlet-name>
  	<url-pattern>/AddSub</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeach</servlet-name>
  	<url-pattern>/AddTeach</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStu</servlet-name>
  	<url-pattern>/AddStu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignStudentToClass</servlet-name>
  	<url-pattern>/AssignStudentToClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignTeacherToClass</servlet-name>
  	<url-pattern>/AssignTeacherToClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignSubjectToClass</servlet-name>
  	<url-pattern>/AssignSubjectToClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignTeacherToSubject</servlet-name>
  	<url-pattern>/AssignTeacherToSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>

</web-app>
